.block_woman{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    margin: 20px;
    background-color: #34495e;
}
.user{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    display: flex;
    flex-wrap: wrap;
} 
.title{
    padding-left: 10px;
    font-size: 20px;
    font-weight: 600;
    color: white;
}